/* Global Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-primary: #fff;
  --primary-color: #000;
  --text-color: #fff;
  --red-color: rgba(255, 0, 0);
  --red-color-foreground: rgba(255, 0, 0, 0.1);
  --container-radius: 15px;
  --radius: 7px;
}

body {
  background-color: var(--bg-primary);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade 0.6s ease;
}

body .toastify {
  color: #fff;
  border-radius: var(--radius);
  padding: 12px;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: none;
}

.teste {
  background: pink;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border: 3.5px solid #ccc;
  border-radius: var(--radius);
}

/* To-do */
.container {
  border-radius: var(--container-radius);
  max-width: 400px;
  min-height: 600px;
  width: 100%;
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h4 {
  color: var(--text-color);
  font-weight: 500;
}

.new-task-container {
  display: flex;
  align-items: stretch;
  user-select: none;
  gap: 0.7rem;
  height: 45px;
}

.new-task-container input {
  width: 100%;
  font-size: 1rem;
  padding: 0 12px;
  border-radius: var(--radius);
  font-weight: 500;
  border: 2px solid transparent;
}

.new-task-container input:focus {
  outline: none;
  border: 2px solid #ccc;
}

.new-task-button {
  border-radius: var(--radius);
  font-weight: 600;
  height: 100%;
  font-size: 0.8rem;
  border: none;
  background: var(--primary-color);
  color: var(--text-color);
  padding: 6px 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  flex: 1;
}

.tasks-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  max-height: 400px;
  margin-top: 24px;
}

.task-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px;
  border: 2px solid transparent;
  animation: fade 0.6s ease;
  border: 2px solid transparent;
  border-bottom: 1px solid #ddd;
}

.task-item p {
  font-weight: 500;
}

.task-item i {
  color: var(--red-color);
  background: var(--red-color-foreground);
  padding: 8px;
  border-radius: var(--radius);
  transition: 0.2s ease-in-out;
}

.task-item i:hover {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 16px;
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-content p {
  font-size: 13px;
  color: #888;
}

.footer-content img {
  width: 30px;
  border-radius: 100%;
  user-select: none;
}

.footer-content p > a {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
}

.footer-content p > a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* Utilities */
.error {
  border: 2px solid var(--red-color) !important;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.error::placeholder {
  color: var(--red-color);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.completed {
  text-decoration: line-through;
  text-decoration-color: var(--primary-color);
}
